HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.DS_Store
*.pyc

.idea/workspace.xml
Backend/__pycache__/**
camp/migrations/__pycache__/**
user/migrations/__pycache__/**
user/__pycache__/**
camp/__pycache__/**
mysql.cnf


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
